<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    
    <div class="container">
        <h1>Perguntas</h1>
        <a href="/perguntar"><button class="btn btn-primary">Faça uma pergunta!</button></a>
        <hr>
        <% perguntas.forEach(pergunta => {%>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3><%= pergunta.titulo %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-primary">Responder</button></a>
                </div>
            </div>
        <% }) %>
        <br>
        <hr>
        <h5 style="text-align: center;">Desenvolvido por <a href="https://jhonatankayo.tech">Jhonatan Kayo</a> utilizando NodeJS e SQLite, Deploy realizado via Heroku e Github.</h5>
    </div>
    
<%- include ('partials/footer.ejs') %>